* {
    font-family: "Poppins";
    box-sizing: border-box;
    color: var(--text-main);
    text-shadow: 1px rgba(255, 255, 255, 0.1);
}

body {
    background-image: linear-gradient(to right, var(--gradient-color-4), var(--gradient-color-3), var(--gradient-color-2), var(--gradient-color-1));
}


/* Colour variables */

:root {
    --gradient-color-1: #ffffff;
    --gradient-color-2: #f0f3fc;
    --gradient-color-3: #f4f7ff;
    --gradient-color-4: #ced9fc;
    --text-main: rgb(22, 22, 22);
    --text-blue: rgb(5, 69, 241);
}

/* text / heading templates */

h1 {
    font-size: 3rem;
    line-height: 1.25;
    font-weight: 100;
}

h2 {
    font-size: 3rem;
    line-height: 0;
    font-weight: 700;
}

h3 {
    font-size: 2rem;
    line-height: 0rem;
    font-weight: 100;
}

h4 {
    font-size: 1.25rem;
    line-height: 0.25rem;
    color: var(--text-blue);
    font-weight: 700;
}

p {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 100;
}

/* Hero Section */

.hero-container {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.hero-container>div {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    width: 66%;
    height: 60%;
    margin: auto;
    gap: 3em;
}

.hero-item-l {
    width: 37%;
    display: flex;
    flex-flow: column;
    align-items: end;
}

.hero-item-r {
    width: 45%;
    display: flex;
    flex-flow: column;
    text-align: left;
}

.profile-pic {
    border-radius: 50%;
    height: 15rem;
    width: 15rem;
}

.hero-item-r>div {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.hero-item-r>div:nth-child(even) {
    padding-left: 2.3rem;
}

.hero-item-r>div:nth-child(3) {
    padding-left: 4rem;
}

.hero-item-r>div>img {
    height: 4rem;
    margin: 1rem;
}

.hero-item-l>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chev-down {
    opacity: 0.8;
    height: 1.7rem;
    margin: auto;
    align-self: flex-end;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: bounce-2;
    animation-timing-function: ease-in-out;
}

@keyframes bounce-2 {
    0% {
        transform: translateY(0);
        opacity: 0.8;
    }

    25% {
        transform: translateY(-0.5rem);
    }

    50% {
        transform: translateY(0);
        opacity: 0.2;
    }

    75% {
        transform: translateY(-0.5rem);

    }

    100% {
        transform: translateY(0);
        opacity: 0.8;
    }
}

.chev-container {
    display: flex;
    margin-top: 2rem;
}

.hero-item-l>div>a>p {
    animation: blinker 2s linear infinite;

}

@keyframes blinker {
    50% {
        opacity: 0.2;
    }
}

/* Statement Section */

.statement-container {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.statement-container>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 66%;
    height: 90%;
    margin: auto;
    gap: 3em;
}

.statement-top-container {
    width: 65%;
    margin: 0.5rem;
}

.statement-top-container>p {
    text-align: justify;
    font-weight: 600;
}

.statement-grid {
    width: 90%;
    height: 60%;
    display: grid;
    gap: 1.5rem;
    align-content: space-around;
    justify-content: space-between;
    grid-template-columns: 45% 45%;
    grid-template-rows: 50% 50%;
    grid-template-areas:
        "top-left top-right"
        "bottom-left bottom-right";
}

.top-left,
.top-right,
.bottom-left,
.bottom-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.top-left>p,
.top-right>p,
.bottom-left>p,
.bottom-right>p {
    font-size: 1rem;
}

.top-left>img,
.top-right>img,
.bottom-left>img,
.bottom-right>img {
    height: 4rem;
    margin: 0.5rem;
    display: block;
}

.statement-container>div>a>p {
    animation: blinker 2s linear infinite;
}