* {
    font-family: "Poppins";
    box-sizing: border-box;
    color: var(--text-main);
    text-shadow: 1px rgba(255, 255, 255, 0.1);
}

body {
    background-image: linear-gradient(to right, var(--gradient-color-4), var(--gradient-color-3), var(--gradient-color-2), var(--gradient-color-1));
}


/* Colour variables */

:root {
    --gradient-color-1: #ffffff;
    --gradient-color-2: #f0f3fc;
    --gradient-color-3: #f4f7ff;
    --gradient-color-4: #ced9fc;
    --text-main: rgb(22, 22, 22);
    --text-blue: rgb(5, 69, 241);
}

/* text / heading templates */

h1 {
    font-size: 3rem;
    line-height: 1.25;
    font-weight: 100;
}

h2 {
    font-size: 2.3rem;
    line-height: 0;
    font-weight: 700;
}

h3 {
    font-size: 2rem;
    line-height: 0rem;
    font-weight: 100;
}

h4 {
    font-size: 1.25rem;
    line-height: 0.25rem;
    color: var(--text-blue);
    font-weight: 700;
}

p {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 100;
}


/* NavBar */

nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    border-bottom: solid 1px rgba(22, 22, 22, 0.165);
    margin: auto;

}

nav>img {
    height: 4rem;
    margin-bottom: 0.3rem;
}

nav>div>a {
    margin: 1rem 1.2rem 1rem 1.2rem;
    padding: 0.1rem;
    text-decoration: none;
    transition: 0.4s;
    font-size: 1.1rem;
}

nav>div>a:hover {
    opacity: 0.2;
}


/* Hero Section */

.hero-container {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: center;
    min-height: 87.5vh;
    width: 100%;
}

.hero-container>div {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    min-width: 66%;
    height: 60%;
    margin: auto;
    gap: 3em;
}

.hero-item-l {
    min-width: 37%;
    display: flex;
    flex-flow: column;
    align-items: end;
    margin-top: 3.2rem;
}

.hero-item-r {
    min-width: 45%;
    display: flex;
    flex-flow: column;
    text-align: left;
}

.profile-pic {
    border-radius: 50%;
    height: 15rem;
    width: 15rem;
}

.hero-item-r>div {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.hero-item-r>div:nth-child(even) {
    padding-left: 2.2rem;
}

.hero-item-r>div:nth-child(3) {
    padding-left: 3.5rem;
}

.hero-item-r>div>img {
    max-height: 4rem;
    margin: 1rem;
}

.hero-item-l>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chev-down {
    opacity: 0.8;
    height: 1.7rem;
    margin: auto;
    align-self: flex-end;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: bounce-2;
    animation-timing-function: ease-in-out;
}

@keyframes bounce-2 {
    0% {
        transform: translateY(0);
        opacity: 0.8;
    }

    25% {
        transform: translateY(-0.5rem);
    }

    50% {
        transform: translateY(0);
        opacity: 0.2;
    }

    75% {
        transform: translateY(-0.5rem);

    }

    100% {
        transform: translateY(0);
        opacity: 0.8;
    }
}

.chev-container {
    display: flex;
    margin-top: 2rem;
}

.hero-item-l>div>a>p {
    animation: blinker 2s linear infinite;

}

@keyframes blinker {
    50% {
        opacity: 0.2;
    }
}

/* Statement Section */

.statement-container {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
}

.statement-container>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 66%;
    height: 100%;
    margin: auto;
    gap: 3em;
}

.statement-top-container {
    width: 65%;
    margin: 0.5rem;
}

.statement-top-container>p {
    text-align: justify;
    font-weight: 600;
}

.statement-grid {
    width: 95%;
    height: 60%;
    display: grid;
    gap: 1.5rem;
    align-content: space-around;
    justify-content: space-between;
    grid-template-columns: 45% 45%;
    grid-template-rows: 50% 50%;
    grid-template-areas:
        "top-left top-right"
        "bottom-left bottom-right";
}

.top-left,
.top-right,
.bottom-left,
.bottom-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.top-left>p,
.top-right>p,
.bottom-left>p,
.bottom-right>p {
    font-size: 1rem;
    text-align: justify;
    margin: auto;
}

.top-left>img,
.top-right>img,
.bottom-left>img,
.bottom-right>img {
    height: 4rem;
    margin: 0.5rem;
    display: block;
}

.statement-container>div>a>p {
    animation: blinker 2s linear infinite;
}

.bottom-left>p>a:hover,
.bottom-right>p>a:hover,
.top-right>p>a:hover {
    opacity: 0.2;
}

.bottom-left>p>a,
.bottom-right>p>a,
.top-right>p>a {
    opacity: 1;
    transition: 1s;
}

/* Projects Section */

/* formatting */

.projects-container>p {
    width: 43%;
    margin: 6rem auto 2rem auto;
    text-align: justify;
    font-weight: 600;
}

.projects-container>div {
    height: 1300px;
    width: 43%;
    margin: auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 10px
}


/* Cards */
.projects-container>div>div {
    width: 50%;
    height: 454px;
    border-color: transparent;
    border-width: 2px;
    border-style: solid;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 0%;
}

.project-item {
    display: flex;
    flex-direction: column;
    justify-content: end;
    overflow: hidden;
}

.project-item>div {
    background: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));
    padding: 2%;
    opacity: 0;
    position: relative;
    top: 10px;
    transition: 0.3s;
}

.project-item:hover {
    cursor: pointer;
}


/* Card animation */
.project-item:hover>div {
    opacity: 1;
    position: relative;
    top: 4px;
}

/* Card Elements */
.project-item>div>p {
    margin: 0.2rem 0.5rem 1rem 1rem;
    padding: 2px;
    font-size: 1rem;
    color: var(--gradient-color-2);
}

h5 {
    font-size: 1.3rem;
    margin: 0.5rem 0.5rem 0.1rem 1rem;
    margin-bottom: 0.1rem;
    color: var(--gradient-color-2);
    font-weight: 700;
    padding: 2px;
}

.languages {
    margin-left: 1rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
}

h6 {
    display: inline;
    padding: 0.25rem 1rem 0.25rem 1rem;
    margin: 0.2rem;
    font-size: 0.7rem;
    background-color: var(--text-blue);
    border-radius: 12.5%;
    color: var(--gradient-color-3);
}

.project-item-space {
    min-height: 2rem;
}

.project-item-space-2 {
    min-height: 8rem;
}


/* Individual Project Classes */

.project-1 {
    background-image: url("../images/music.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.project-2 {
    background-image: url("../images/sarah.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.project-3 {
    background-image: url("../images/wordle.gif");
    height: 300px !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.project-4 {
    background-image: url("../images/panagram.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 300px !important;
}

.project-5 {
    background-image: url("../images/media_next.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: solid 0.05rem rgba(0, 0, 0, 0.19) !important
}

.project-6 {
    background-image: url("../images/movie.gif");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 37rem;
}


/* Contact */

.contact-container>p {
    width: 43%;
    margin: 2rem auto 2rem auto;
    text-align: justify;
    font-weight: 600;
}

.contact-container>div {
    width: 43%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 2rem auto 3rem auto;
}

.contact-container>div>div {
    width: 25%;
    display: flex;
    justify-content: center;
}

.contact-container>div>div>a>img {
    max-height: 6rem;
    margin: auto;
    transition: 0.5s;
}

.contact-container>div>div>a>img:hover {
    scale: 105%;
}

/* Footer */

.footer {
    width: 43%;
    margin: auto;
    text-align: center;
}

.footer>p {
    font-size: 1.1rem;
}

/* Modals */

.modal {
    width: 28%;
    min-height: 100vh;
    border: 0;
    margin-right: 0%;
    animation-name: shiftModal;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    overflow: scroll;
    background-color: var(--gradient-color-2);
    border-left: none;
}

.modal::backdrop {
    background: rgba(0, 0, 0, 0.6);

}

@keyframes shiftModal {
    0% {
        right: -28%;
    }

    100% {
        right: 0%;
    }
}

.modal-top-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem;
    margin: 0.1rem;
    margin-top: 0rem;
    border-bottom: solid 2px rgba(5, 68, 241, 0.544);
    ;

}

.modal-top-div>img {
    height: 2rem;
    animation: blinker 2s linear infinite;
}

.modal-top-div>img:hover {
    cursor: pointer;
}

.modal-top-div>p {
    height: 2rem;
    font-weight: 600;
    color: var(--text-blue);
    transition: 0.5s;
    text-align: justify;
    margin: 0.75rem;
    font-size: 1rem;
}

.modal-top-div>p:hover {
    cursor: pointer;
    opacity: 0.2;
    animation: none;
}

.modal>h1 {
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.2rem;
    margin: 1.2rem 0.1rem 0.1rem 0.1rem;
}

.modal>P {
    font-size: 1rem;
    padding: 0.2rem;
    margin: 0.1rem;
}

.modal>img {
    width: 100%;
    border-radius: 7.5%;
    padding: 0.2rem;
    margin: 1.2rem 0.1rem 0.1rem 0.1rem;
}

.modal>h2 {
    font-size: 1.1rem;
    font-weight: 600;
    padding: 0.2rem;
    margin: 1.2rem 0.1rem 0.7rem 0.1rem;
}

.modal-mid-div {
    padding: 0.2rem;
    margin: 0.1rem;
    margin-top: 1rem;
    margin-bottom: 0.7rem;
    display: flex;
    flex-flow: row wrap;
}

.modal-mid-div>h2 {
    display: inline;
    padding: 0.75rem 1.5rem 0.75rem 1.5rem;
    margin: 0.2rem;
    font-size: 0.8rem;
    background-color: var(--text-blue);
    border-radius: 12.5%;
    color: var(--gradient-color-3);
}

.modal-bottom-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding: 0.2rem;
    margin: 0.1rem;
}

.modal-bottom-div>img {
    height: 1.5rem;
    display: inline;
}

.modal-bottom-div>h2 {
    display: inline;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 0.2rem;
    margin: 1.2rem 0.1rem 0.7rem 0.1rem;
}

.modal>a {
    text-decoration: none;
}

.modal>a>p {
    font-size: 1rem;
    padding: 0.2rem;
    margin: 0.1rem;
    color: var(--text-blue);
    text-decoration: none;
}

.modal>a>p:hover {
    text-decoration: underline
}

/* Media Queries */

@media (min-width: 768px) and (max-width: 1199px) {

    /* HERO */

    .shimmer,
    .chev-container {
        display: none;
    }

    .hero-item-r>div:nth-child(even) {
        padding-left: 0.5rem;
    }

    .hero-item-r>div:nth-child(3) {
        padding-left: 0.5rem;
    }

    .hero-item-l {
        text-align: center;
    }

    .hero-item-r {
        text-align: center;
    }

    /* Statement */

    .statement-top-container {
        width: 95%;
        margin: 3rem auto 0rem auto;
    }


    .statement-grid {
        width: 95%;
        height: 60%;
        grid-template-columns: 100%;
        grid-template-rows: 25% 25% 25% 25%;
        grid-template-areas:
            "top-left"
            "top-right"
            "bottom-left"
            "bottom-right";
    }

    .top-left,
    .top-right,
    .bottom-left,
    .bottom-right {
        align-items: center;
    }

    /* Projects */

    .projects-container>p {
        width: 63%;
        margin: 2rem auto 2rem auto;
    }

    .projects-container>div {
        min-height: 2800px;
        width: 63%;
    }

    .projects-container>div>div {
        width: 80%;
    }

    .project-3 {
        background-size: cover;
        min-height: 464px;
    }

    .project-4 {
        background-size: cover;
        min-height: 464px;
    }

    .project-5 {
        background-size: cover;
    }

    .project-6 {
        background-size: cover;
    }

    .project-item>div {
        opacity: 1;
        top: 4px;
    }

    /* MODAL */

    .modal {
        width: 60%;
    }

    /* Contact */

    .contact-container>p {
        width: 63%;
    }

    .contact-container>div {
        width: 63%;
    }

    /* Footer */

    .footer {
        width: 63%;
    }

}

@media (min-width: 480px) and (max-width: 767px) {

    /* HERO */

    .shimmer,
    .chev-container {
        display: none;
    }

    .hero-item-r>div:nth-child(even) {
        padding-left: 0.5rem;
    }

    .hero-item-r>div:nth-child(3) {
        padding-left: 0.5rem;
    }

    .hero-item-l {
        text-align: center;
    }

    .hero-item-r {
        text-align: center;
    }

    /* Statement */

    .statement-top-container {
        width: 95%;
        margin: 3rem auto 0rem auto;
    }

    .statement-top-container>p {
        text-align: center;
        font-weight: 600;
    }


    .statement-grid {
        width: 95%;
        height: 60%;
        grid-template-columns: 100%;
        grid-template-rows: 25% 25% 25% 25%;
        grid-template-areas:
            "top-left"
            "top-right"
            "bottom-left"
            "bottom-right";
    }

    .top-left,
    .top-right,
    .bottom-left,
    .bottom-right {
        align-items: center;
    }

    .top-left>p,
    .top-right>p,
    .bottom-left>p,
    .bottom-right>p {
        text-align: center;
    }



    /* Projects */

    .projects-container>p {
        width: 63%;
        margin: 2rem auto 2rem auto;
        text-align: center;
    }

    .projects-container>div {
        min-height: 2800px;
        width: 63%;
    }

    .projects-container>div>div {
        width: 100%;
    }

    .project-3 {
        background-size: cover;
        min-height: 464px;
    }

    .project-4 {
        background-size: cover;
        min-height: 464px;
    }

    .project-5 {
        background-size: cover;
    }

    .project-6 {
        background-size: cover;
    }

    .project-item>div {
        opacity: 1;
        top: 4px;
    }

    /* MODAL */

    .modal {
        width: 80%;
    }

    /* Contact */

    .contact-container>p {
        width: 63%;
        text-align: center;
    }

    .contact-container>div {
        width: 63%;
    }

    .contact-container>div>div>a>img {
        max-height: 3rem;
        margin: auto;
        transition: 0.5s;
    }

    /* Footer */

    .footer {
        width: 63%;
    }

}

@media (min-width: 0px) and (max-width: 479px) {

    * {
        font-size: 11px;
    }

    /* HERO */

    .shimmer,
    .chev-container {
        display: none;
    }

    .hero-item-r>div:nth-child(even) {
        padding-left: 0.5rem;
    }

    .hero-item-r>div:nth-child(3) {
        padding-left: 0.5rem;
    }

    .hero-item-l {
        text-align: center;
    }

    .hero-item-r {
        text-align: center;
    }

    /* Statement */

    .statement-top-container {
        width: 95%;
        margin: 3rem auto 0rem auto;
    }

    .statement-top-container>p {
        text-align: center;
        font-weight: 600;
    }


    .statement-grid {
        width: 95%;
        height: 60%;
        grid-template-columns: 100%;
        grid-template-rows: 25% 25% 25% 25%;
        grid-template-areas:
            "top-left"
            "top-right"
            "bottom-left"
            "bottom-right";
    }

    .top-left,
    .top-right,
    .bottom-left,
    .bottom-right {
        align-items: center;
    }

    .top-left>p,
    .top-right>p,
    .bottom-left>p,
    .bottom-right>p {
        text-align: center;
    }



    /* Projects */

    .projects-container>p {
        width: 63%;
        margin: 2rem auto 2rem auto;
    }

    .projects-container>div {
        min-height: 2800px;
        width: 63%;
    }

    .projects-container>div>div {
        width: 100%;
    }

    .project-3 {
        background-size: cover;
        min-height: 464px;
    }

    .project-4 {
        background-size: cover;
        min-height: 464px;
    }

    .project-5 {
        background-size: cover;
    }

    .project-6 {
        background-size: cover;
    }

    .project-item>div {
        opacity: 1;
        top: 4px;
    }

    /* MODAL */

    .modal {
        width: 80%;
    }

    /* Contact */

    .contact-container>p {
        width: 63%;
    }

    .contact-container>div {
        width: 63%;
    }

    .contact-container>div>div>a>img {
        max-height: 3rem;
        margin: auto;
        transition: 0.5s;
    }

    /* Footer */

    .footer {
        width: 63%;
    }

}